.login-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.login-box {
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}


.login-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 32px;
    color: #333;
    margin-bottom: 360px;
}


.login-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.login-tabs button {
    flex: 1;
    padding: 10px 15px;
    border: 2px solid #000000;
    background-color: black;
    color: #fca311;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 6px;
}

.login-tabs button:hover {
    background-color: white;
    color: #fca311;
}

.active-tab {
    background-color: #000000;
    color: white;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    margin-top: 60px;
}

form label {
    font-weight: bold;
    color: #333;
}

form input {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease;
}

form input:focus {
    border-color: #000000;
}

form button[type="submit"] {
    padding: 12px;
    background-color: #000000;
    color: #fca311;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: black;
    color: white;
}
