.content1{
    justify-content: center;
    margin-top: 5rem;
    display: grid;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4rem;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
